apiVersion: v1
kind: Secret
metadata:
  name: craftedspecially-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: YOUR_REPO_SSH_URL           # e.g. git@github.com:org/CraftedSpecially.git
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    REPLACE_WITH_DEPLOY_KEY_PRIVATE_KEY
    -----END OPENSSH PRIVATE KEY-----
