apiVersion: v1
kind: Secret
metadata:
  name: craftedspecially-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: https://github.com/tom171296/CraftedSpecially.git
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    REPLACE_WITH_DEPLOY_KEY_PRIVATE_KEY
    -----END OPENSSH PRIVATE KEY-----
