name: Catalog service CI/CD

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: crafted-specially/catalog-api
  BUILD_CONFIGURATION: Release

permissions: {}

jobs:

  analysis:
    name: Static/Dependency Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          persist-credentials: false

      - name: Trivy scan (repo)
        run: |
          docker run --rm \
            -e TRIVY_DB_REPOSITORY=public.ecr.aws/aquasecurity/trivy-db,aquasec/trivy-db,ghcr.io/aquasecurity/ \
            -v "${{ github.workspace }}/Services/Catalog:/src" \
            aquasec/trivy:latest \
            fs -f json --scanners vuln,secret,misconfig \
            --exit-code 1 --severity HIGH,CRITICAL /src

  build:
    runs-on: ubuntu-latest
    needs: analysis
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Setup .NET
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: '10.0.x'

      - name: Cache NuGet
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.nuget/packages
          key: nuget-${{ runner.os }}-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: nuget-${{ runner.os }}-

      - name: Restore dependencies
        run: dotnet restore ./Services/Catalog/Catalog.Api/Catalog.Api.csproj --locked-mode

      - name: Check for vulnerable dependencies
        run: dotnet list ./Services/Catalog/Catalog.Api/Catalog.Api.csproj package --vulnerable

      - name: Build
        run: dotnet build ./Services/Catalog/Catalog.Api/Catalog.Api.csproj --output buildOutput --no-restore --configuration Release

      - name: Generate SBOM
        run: |
          curl -Lo $RUNNER_TEMP/sbom-tool https://github.com/microsoft/sbom-tool/releases/latest/download/sbom-tool-linux-x64
          chmod +x $RUNNER_TEMP/sbom-tool
          $RUNNER_TEMP/sbom-tool generate -b ./buildOutput -bc . -pn CraftedSpecially -pv 1.0.0 -ps ByteBrew -nsb https://blognet.tech -V Verbose
      
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: catalog-api-build-output
          path: buildOutput
      
      # Docker build and push steps
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build_and_push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v3
        with:
          context: ./Services
          file: ./Services/Catalog/dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
    
    outputs:
      digest: ${{ steps.build_and_push.outputs.digest }}

  sign_and_provenance:
    if: github.ref == 'refs/heads/main'
    name: Sign & Attest
    runs-on: ubuntu-latest
    needs: build
    
    permissions:
      id-token: write
      contents: read
      packages: write
      attestations: write
      
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: catalog-api-build-output
          path: buildOutput

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate build provenance
        id: generate_provenance
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ needs.build.outputs.digest }}
          push-to-registry: true

      - name: Generate SBOM attestation
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ needs.build.outputs.digest }}
          push-to-registry: true
          sbom-path: ./buildOutput/_manifest/spdx_2.2/manifest.spdx.json

      - name: Upload attestation artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: catalog-api-provenance
          path: ${{steps.generate_provenance.outputs.bundle-path}}
  
  # deployment: 
  #   needs: sign_and_provenance
  #   name: Deploy to Azure
  #   runs-on: ubuntu-latest

  #   permissions:
  #     contents: read
  #     id-token: write
  #     actions: read

  #   environment: Deployment

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v5
  #       with:
  #         persist-credentials: false
  #     - name: Azure Login
  #       uses: azure/login@v1
  #       with:
  #         client-id: ${{ secrets.AZURE_CLIENT_ID }}
  #         tenant-id: ${{ secrets.AZURE_TENANT_ID }}
  #         subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
  #     - uses: azure/setup-kubectl@v4

  #     - uses: azure/aks-set-context@v4
  #       with:
  #         cluster-name: CraftedSpecially-aks
  #         resource-group: CraftedSpecially

  #     - uses: Azure/k8s-deploy@v5
  #       with:
  #         namespace: 'crafted-specially'
  #         manifests: |
  #             ./Services/Catalog/deployment.yml
      